<!DOCTYPE html>
<html lang="en">
<!-- lang="__" คือการกำหนดภาษาหลักให้กลับเว็บไซต์ -->
<head>
	<meta charset="utf-8">
	<title>CMM 19</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.5.3/css/bulma.min.css">
	<link rel="stylesheet" href="/assets/home.css">
</head>
<body>
	<header>
	  <div class="has-text-centered">
		<img src="/assets/images/logo.png" alt="" width="145" height="auto">
      </div>
      <nav class="navbar-tabs">
         <a href="a" class="navbar-item">HOME</a>
         <a href="a" class="navbar-item">WORK</a>
         <a href="a" class="navbar-item">WORK</a>
         <a href="a" class="navbar-item">WORK</a>
         <a href="a" class="navbar-item">WORK</a>
         <a href="a" class="navbar-item">WORK</a>
         <a href="a" class="navbar-item">WORK</a>
         <a href="a" class="navbar-item">WORK</a>
      </nav>
	</header>

	<main>
		<section class="banner">
			<div class="highlight">
			  <div class="columns">
			  	<div class="column highlight-item">
			  	   		<h1> K.KWISSARA </h1>
			  	</div>
			  </div> 
			</div>


			<div class="thumbnail">
		   	<div class="columns is-marginless">
		   	 <div class="column thumbnail-item is-paddingless
		   	 has-text-centered" style="background-image:url(/assets/images/home/banner/thumbnail-1.jpg);">
		   	 Lorem ipsum dolor sit amet.
		  	  </div>
		  	  		   	 <div class="column thumbnail-item is-paddingless
		  	  		   	has-text-centered" style="background-image:url(/assets/images/home/banner/thumbnail-2.jpg);">
						Lorem ipsum dolor sit amet.
		  	  </div> 
		  	  		   	 <div class="column thumbnail-item is-paddingless
		  	  		   	has-text-centered" style="background-image:url(/assets/images/home/banner/thumbnail-3.jpg);">
		  	  		   	Lorem ipsum dolor sit amet.
		  	  </div> 
		  	  		   	 <div class="column thumbnail-item is-paddingless
		  	  		   	 has-text-centered" style="background-image:url(/assets/images/home/banner/thumbnail-4.jpg);">
		  	  		   	 Lorem ipsum dolor sit amet. 	
		  	  </div> 		   		
		   	</div>
		   </div>
		
		</section>

		<section class="section we-present">
			
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="a">LASTET</a>							
					</div>
					
					<div class="column has-text-centered">
						WE PRESENT							
					</div>
					
					<div class="column has-text-right">
						<a href="a">SEARCH</a>							
					</div>
				</div>				
			</div>
			
			<div class="columns is-multiline">
				<a href="#" class="column is-one-third">
					<div class="card">
						<figure class="image is-3by2">
							<img src="assets/images/home/we-preset/img-1.jpg" alt="image-1">
						</figure>
						
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">Lorem ipsum dolar sit amet, consectetur adipisicing elit.</h3>
						<h4 class="subtitle is-6"> เรื่องมาริษาคาลัว</h4>
						<p>
							kalslkadnlcjdlkclclacl
						</p>
					</div>
                    
                    <a href="#" class="column is-one-third">
                    <div class="card">
						<figure class="image is-3by2">
							<img src="assets/images/home/we-preset/img-2.jpg" alt="image-1">
						</figure>
						
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">Lorem ipsum dolar sit amet, consectetur adipisicing elit.</h3>
						<h4 class="subtitle is-6"> เรื่องมาริษาคาลัว</h4>
						<p>
							kalslkadnlcjdlkclclacl
						</p>
					</div>
                    
                    <a href="#" class="column is-one-third">
                    <div class="card">
						<figure class="image is-3by2">
							<img src="assets/images/home/we-preset/img-3.jpg" alt="image-1">
						</figure>
						
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">Lorem ipsum dolar sit amet, consectetur adipisicing elit.</h3>
						<h4 class="subtitle is-6"> เรื่องมาริษาคาลัว</h4>
						<p>
							kalslkadnlcjdlkclclacl
						</p>
					</div>
                    
                    <a href="#" class="column is-one-third">
					<div class="card">
						<figure class="image is-3by2">
							<img src="assets/images/home/we-preset/img-4.jpg" alt="image-1">
						</figure>
						
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">Lorem ipsum dolar sit amet, consectetur adipisicing elit.</h3>
						<h4 class="subtitle is-6"> เรื่องมาริษาคาลัว</h4>
						<p>
							kalslkadnlcjdlkclclacl
						</p>
					</div>
                    
                    <a href="#" class="column is-one-third">
					<div class="card">
						<figure class="image is-3by2">
							<img src="assets/images/home/we-preset/img-5.jpg" alt="image-1">
						</figure>
						
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">Lorem ipsum dolar sit amet, consectetur adipisicing elit.</h3>
						<h4 class="subtitle is-6"> เรื่องมาริษาคาลัว</h4>
						<p>
							kalslkadnlcjdlkclclacl
						</p>
					</div>
                    
                    <a href="#" class="column is-one-third">
					<div class="card">
						<figure class="image is-3by2">
							<img src="assets/images/home/we-preset/img-6.jpg" alt="image-1">
						</figure>
						
					</div>

					<div class="card-content">
						<h5 class="category">Public Space</h5>
						<h3 class="title is-spaced is-4">Lorem ipsum dolar sit amet, consectetur adipisicing elit.</h3>
						<h4 class="subtitle is-6"> เรื่องมาริษาคาลัว</h4>
						<p>
							kalslkadnlcjdlkclclacl
						</p>
					</div>
			</div>


		</section>>

	</main>

</body>
</html>